ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #585656;
  }

  /* welcome sectoion viewport */
#welcome-section {
    height: 100vh;
}

/* footer stays at the bottom of the page */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(255, 255, 255);
  color: white;
  text-align: center;
}

@media (max-width: 800px) {
   /* changes the body of the html page of smaller screens */
    body {
        background-color: black;
    }
/* navigation bar */
    #navbar {
       
    }



}